node_modules
.pnpm-store
.DS_Store

# build outputs
**/dist
**/.next
**/out

# local env
.env
.env.local
.env.*.local
.dev.vars

# turbo
.turbo

# wrangler
.wrangler
apps/worker/wrangler.toml
apps/web/wrangler.toml

# editor
.vscode
.idea

# secrets
*.pem
*.key
